<header class="header-top">
    <div class="container-headder">
        <div class="header-inter">
            <h1 class="header-logo">
                <a href="/" class="header-logo-a">
                    <span>PetitoShop</span>
                </a>
            </h1>
            <div class="header-searchbar">
                <form action="" class="search-bar">
                    <div class="searchbar-top">
                        <div class="searchbar-input-container">
                            <input class="searchbar-input" type="text" name="" id="">
                        </div>
                        <button class="searchbar-submit" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                style="fill: rgba(0, 0, 0, 1)">
                                <path
                                    d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <div class="header-iconlist">
                <div class="header-account">
                    <a href="/users/login">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1)">
                            <path
                                d="M12 2a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z">
                            </path>
                        </svg>
                    </a>
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="/users/login">Ingresar</a></li>
                            <li><a href="/users/register">Registrarme</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header-cart">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1)">
                            <path
                                d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8c.417 0 .79-.259.937-.648l3-8a1 1 0 0 0-.115-.921zM17.307 15h-6.64l-2.5-6h11.39l-2.25 6z">
                            </path>
                            <circle cx="10.5" cy="19.5" r="1.5"></circle>
                            <circle cx="17.5" cy="19.5" r="1.5"></circle>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="nav-bar">
    <div class="nav-bar-inter">
        <div class="nav-bar-container">
            <ul class="nav-barlinks">
                <li class="nav-baritems"><a href="/">Inicio</a></li>
                <li class="nav-baritems"><a href="">Perros</a>
                    <div class="sub-menu-2">
                        <ul>
                            <li><a href="#">Adultos</a></li>
                            <li><a href="#">Cachorros</a></li>
                            <li><a href="#">Alimento</a></li>
                            <li><a href="#">Collares</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-baritems"><a href="">Gatos</a>
                    <div class="sub-menu-2">
                        <ul>
                            <li><a href="#">Gatos Adultos</a></li>
                            <li><a href="#">Gatitos Cachorros</a></li>
                            <li><a href="#">Alimento</a></li>
                            <li><a href="#">Collares</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-baritems"><a href="/products/create">Crear</a></li>
                <li class="nav-baritems"><a href="/products/edit/1">Editar</a></li>
                <li class="nav-baritems"><a href="/products/1">Detalles</a></li>
            </ul>
        </div>
    </div>
</nav>