<header>
    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen'></i>
            <span class="logo"><a href="/">PetitoShop</a></span>

            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="/">PetitosShop</a></span>
                    <i class='bx bx-x sidebarClose'></i>
                </div>

                <ul class="nav-links">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/users/login">Cuenta</a></li>
                    <li><a href="/barra">Barra</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/users/new-product">NewPrdct</a></li>
                    <li><a href="/users/edit-product">EditPrdct</a></li>
                </ul>
            </div>

            <div class="conteiner-searchBox">
                <div class="container-search">
                    <input class="input-search" type="text" placeholder="Search...">
                    <div class="search"><i class='bx bx-search'></i></div>
                </div>
            </div>
        </div>
    </nav>
    <script src="/scripts/script.js"></script>
</header>