<%- include('partials/head') %>
    <%- include('partials/header') %>
        <main class="main-crud">
            <section class="crud-contanier">
                <form action="" class="crud-form">
                    <h1>EDITAR: ----</h1>
                    <div class="crud crud-name">
                        <h3>Nombre</h3>
                        <input type="text">
                    </div>
                    <div class="crud crud-prices">
                        <h3>Precio</h3>
                        <input type="text">
                    </div>
                    <div class="crud crud-sizes">
                        <h3>Talle</h3>
                        <select name="" id="">
                            <option value=""></option>
                            <option value="">S</option>
                            <option value="">M</option>
                        </select>
                    </div>
                    <div class="crud crud-stock">
                        <h3>Stock</h3>
                        <input type="text">
                    </div>
                    <div class="crud crud-categories">
                        <h3>Categoria</h3>
                        <select name="" id="">
                            <option value=""></option>
                            <option value="">Perros Adultos</option>
                            <option value="">Perros Cachorros</option>
                            <option value="">Gatos Adultos</option>
                            <option value="">Gatos Cachorros</option>
                        </select>
                    </div>
                    <div class="crud crud-brand">
                        <h3>Marca</h3>
                        <input type="text">
                    </div>
                    <div class="crud-image">
                        <h3>Imágen</h3>
                        <input type="file">
                    </div>
                    <div class="crud-details">
                        <h3>Detalles</h3>
                        <textarea name="details" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="crud-buttons">
                        <button>Editar Producto</button>
                        <button>Borrar Producto</button>
                        <button>Cancelar</button>
                    </div>
                </form>
            </section>
        </main>
        <%- include('partials/footer') %>
</body>

</html>