<%- include('partials/head') %>
    <%- include('partials/header') %>
        <main class="products-home">
            <!-------------------------------SECCIONES POR MASCOSTAS------------------------------------>

            <!--PRODUCTOS----------------->
            <section class="lo-destacado">
                <h3>LO DESTACADO</h3>
                <div class="productos">
                    <div class="cuerpo-tarjeta">
                        <div class="foto">
                            <img src="/img/collares/collar 7.JPG" alt="">
                        </div>
                        <div class="descripcion">
                            <b>Producto</b><br>
                            $$$$$$</br>
                            <br>
                            <a class="comprar" href="/">Comprar</a>
                            <a class="ver" href="/products/detalles">Ver</a>
                        </div>
                    </div>
                    <div class="productos">
                        <div class="cuerpo-tarjeta">
                            <div class="foto">
                                <img src="/img/ropa/ropa 3.JPG" alt="">
                            </div>
                            <div class="descripcion">
                                <b>Producto</b><br>
                                $$$$$$</br>
                                <br>
                                <a class="comprar" href="#">Comprar</a>
                                <a class="ver" href="#">Ver</a>
                            </div>
                        </div>
                        <div class="productos">
                            <div class="cuerpo-tarjeta">
                                <div class="foto">
                                    <img src="/img/cuchas/cucha 4.JPG" alt="">
                                </div>
                                <div class="descripcion">
                                    <b>Producto</b><br>
                                    $$$$$$</br>
                                    <br>
                                    <a class="comprar" href="#">Comprar</a>
                                    <a class="ver" href="#">Ver</a>
                                </div>
                            </div>
                            <div class="productos">
                                <div class="cuerpo-tarjeta">
                                    <div class="foto">
                                        <img src="/img/collares/pretal 3.JPG" alt="">
                                    </div>
                                    <div class="descripcion">
                                        <b>Producto</b><br>
                                        $$$$$$</br>
                                        <br>
                                        <a class="comprar" href="#">Comprar</a>
                                        <a class="ver" href="#">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ofertas">
                <h3>OFERTAS</h3>
                <div class="productos">
                    <div class="cuerpo-tarjeta">
                        <div class="foto">
                            <img src="/img/ropa/ropa 12.JPG" alt="">
                        </div>
                        <div class="descripcion">
                            <b>Producto</b><br>
                            $$$$$$</br>
                            <br>
                            <a class="comprar" href="#">Comprar</a>
                            <a class="ver" href="#">Ver</a>
                        </div>
                    </div>
                    <div class="productos">
                        <div class="cuerpo-tarjeta">
                            <div class="foto">
                                <img src="/img/cuchas/cucha 2.JPG" alt="">
                            </div>
                            <div class="descripcion">
                                <b>Producto</b><br>
                                $$$$$$</br>
                                <br>
                                <a class="comprar" href="#">Comprar</a>
                                <a class="ver" href="#">Ver</a>
                            </div>
                        </div>
                        <div class="productos">
                            <div class="cuerpo-tarjeta">
                                <div class="foto">
                                    <img src="/img/collares/collar 6.JPG" alt="">
                                </div>
                                <div class="descripcion">
                                    <b>Producto</b><br>
                                    $$$$$$</br>
                                    <br>
                                    <a class="comprar" href="#">Comprar</a>
                                    <a class="ver" href="#">Ver</a>
                                </div>
                            </div>
                            <div class="productos">
                                <div class="cuerpo-tarjeta">
                                    <div class="foto">
                                        <img src="/img/ropa/ropa 11.JPG" alt="">
                                    </div>
                                    <div class="descripcion">
                                        <b>Producto</b><br>
                                        $$$$$$</br>
                                        <br>
                                        <a class="comprar" href="#">Comprar</a>
                                        <a class="ver" href="#">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </section>
        </main>
        <!--CORREO-------------------------------------------------->
        <section class="correo">
            <div class="caja-correo">
                <h3>RECIBI TODAS LAS OFERTAS</h3>
                <p>¿Quieres recibir nuestras ofertas? ¡Registrate ya mismo y comenzá a disfrutarlas!</p>
                <div class="email-formpart">
                    <form class="form-email" action="" method="GET">
                        <input type="email" name="correo" class="input" id="correo" placeholder="Tu email">
                        <button type="submit" class="submit"><i class="fas fa-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </section>
        <!-- Swiper JS -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".mySwiper", {
                slidesPerView: 3,
                spaceBetween: 30,
                slidesPerGroup: 3,
                loop: true,
                loopFillGroupWithBlank: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        </script>
        <%- include('partials/footer') %>
    </body>

</html>