<%- include('partials/head') %>
    <%- include('partials/header') %>
        <!--------PRODUCTOS----------->
        <main class="main-products">
            <div class="product-container">
                <div class="product-views">
                    <img src="/img/collares/collar 4.JPG" alt="">
                    <img src="/img/collares/collar 8.JPG" alt="">
                    <img src="/img/collares/collar 6.JPG" alt="">
                </div>
                <div class="description">
                    <img class="product-img" src="/img/collares/collar 7.JPG" alt="">
                    <h4>CARACTERISTICAS</h4>
                    <ul>
                        <li>
                            <span>Hecho con cuero de vaca del olimpo</span>
                        </li>
                        <li>
                            <span>Confeccionado a mano por elfos de Hungria</span>
                        </li>
                        <li>
                            <span>Con esto tu perrito domará a cualquier perra</span>
                        </li>
                    </ul>
                </div>
                <section class="details">
                    <div class="links-chain">
                        <a href="">Inicio</a>
                        <span class="divider">></span>
                        <a href="">PERROS</a>
                        <span class="divider">></span>
                        <a href="">COSMETICOS</a>
                        <span class="divider">></span>
                        <a href="">COLLARES</a>
                    </div>
                    <div class="store">
                        <h2>COLLAR BDSM BLUETOOTH</h2>
                        <h3>$8.000.000</h3>
                        <div class="cuotas">
                            <i class='bx bx-credit-card'></i>
                            <span class="cuotes">700 cuotas de $10.002</span><br>
                        </div>
                        <a class="details-cuotas" href="/cuotes">Ver más detalles</a>
                        <form action="" class="form">
                            <label for="size">Talle</label><br>
                            <select name="size" id="size">
                                <option value="Empty"></option>
                                <option value="S">S</option>
                                <option value="SM">SM</option>
                                <option value="M">M</option>
                                <option value="ML">ML</option>
                                <option value="L">L</option>
                            </select>
                        </form>
                        <a class="guide-sizes" href="/guide-sizes">Guía de talles</a>
                        <div class="add-to-cart">
                            <div class="minus-plus">
                                <button><i class='bx bx-minus'></i></button>
                                <span>1</span>
                                <button><i class='bx bx-plus'></i></button>
                            </div>
                            <div class="add">
                                <a href="">AGREGAR AL CARRITO</a>
                            </div>
                        </div>
                        <div class="send-methods">
                            <i class='bx bxs-truck'></i>
                            <span>Medios de envío</span>
                        </div>
                        <div></div>
                        <form action=""><br>
                            <input type="tel" name="" id=""><br>
                        </form><br>
                    </div>
                </section>
            </div>
        </main>
        <%- include('partials/footer') %>
</body>

</html>