         /* PORTADA */
         @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

  
   
         /*H3 HOME-CORREO*/
         .products-home h3,.caja-correo h3{
             text-align: center;
             font-size: 20px;
             color: #000000;
             font-weight: 100;
             font-family: 'Poppins', sans-serif;
             margin-bottom: 200px;
             margin-top: 50px;
         }
        /*SECCIONES POR MASCOTA*/
        .selecion-por-mascota{
            margin-top:100px;
        }
        .swiper{
            width: 1200px;
        }
         .selecion-por-mascota-titulo{
             text-align: center;
             font-size: 20px;
             margin-top: 20px;
             font-weight: 100;
             font-family: 'Poppins', sans-serif;
         }
         .seleccion-texto{
             font-family: 'Poppins', sans-serif;
         }
         .selecionar-por-mascota{
             /*height: 250px;*/
             margin: 0px 0px 0px 0px;
         }
         .selecionar-por-mascota .card{
             text-align: center;
         }
         .selecionar-por-mascota .card img{
             /*border-radius: 50%;*/
             width: 100%;
             height: 100%px;
         }
         .selecionar-por-mascota .card p{
             padding: 0 1rem;
             font-size: 16px;
             font-weight: 300;
         }
         .selecionar-por-mascota .card a {
             font-weight: 500;
             text-decoration: none;
             color: black;
         }
         /*PRODUCTOS*/
         @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;1,200&display=swap');
         @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
     
         .lo-destacado{
             display: flex;
             display: block;
             justify-content: space-between;
         }
         .ofertas{
             display: flex;
             display: block;
             justify-content: space-between;
             margin-top: 30px;
         }
         .productos{
             justify-content: center;
             flex-wrap: wrap;
             display: flex;
             align-items: center;
             position: relative;
         }
         .cuerpo-tarjeta{
             font-family: 'Source Sans Pro', sans-serif;
             font-size: 20px;
             width: 280px;
             height: 370px;
             display: flex;
             flex-direction: column;
             align-items: center;
             text-align: center;
             border-radius: 10px;
             margin: 3px;
             cursor: pointer;
             transition-property: all;
             transition: all 0.50s;
             overflow: hidden;
             background: white;
         }
         .cuerpo-tarjeta .comprar{
             font-size: 15px;
             text-decoration: none;
             color: aliceblue;
             background: black ;
             padding: 6px;
             border-radius: 40px;
             transition: all 0,2s;
             transition: all 0.50s;
         }
         .cuerpo-tarjeta .ver{
             transition: all 0.50s;
             font-size: 15px;
             text-decoration: none;
             color: black;
             background: white;
             padding: 6px;
             border-radius: 40px;
             border-width: 1px;
             border-style: solid;
         }
        
         .descripcion{
             margin-top: 40px;
             padding: 12px;
             margin-bottom: 10px;
         }
         /*CORREO*/
     
         .correo{
             margin-top: 100px;
             width: 100%;
             height: 300px;
             background-color: var(--nav-color);
     
         }
         .correo h3{
             color: white;
         }
         .correo p{
             color: white;
             font-family: 'Poppins', sans-serif;
             text-align: center;
         }
         .caja-correo{
             display: flex;
             flex-direction: column;
             justify-content:center;
         }
         .email-formpart{
             text-align: -webkit-center;
         }
          .form-email{
                 display: flex;
                 align-items:flex-start;
                 padding: 30px;
                 width: 70%;
                 font-size: 11px;  
                 flex-grow: 2;
             }
         .form-email .input{
                 background-color: #FFF;
                 outline: none;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
                 box-sizing: inherit;
                 padding: 11px;
                 border: none;
                 border-radius: 5px 0 0 5px;
                 font-size: 15px;
                 width: 100%;
             }
         .form-email .submit{
                 background-color: #333333;
                 color: rgb(218, 218, 218);
                 border: none;
                 cursor: pointer;
                 padding: 11px;
                 border: none;
                 border-radius: 0 5px 5px 0;
                 font-size: 15px;
         }