/*General*/ 
  *{
  margin:0; padding:0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
  font-family: 'Roboto', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
  }
  section{
  padding:0.5rem 2%;
  }
  body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  }
  /*Botones*/
  .btn{
    display: inline-block;
    margin-top: 1rem;
    background:var(--green);
    color: red;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
  }
  .btn:hover{
    background:var(--black);
  }
  .category .box-container .box .btn{
    display: block;
  }
  /*Fuentes*/
  h1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 26px;
  }
  h4{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  }
  .h4bannersinnombre{
    font-size: 15px;
  }
  p{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  }
  .pbannersinnombre{
  font-size: 10px;
  }
  /*Portada*/
  .portada{
  min-height: 80vh;
  display: flex;
  align-items: center;
  background:url(/img/parabanners/pexels-anna-shvets-4588018.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  }
  .portada .portadatexto{
  max-width: 60rem;
  }
  .portada .portadatexto h3{
  font-size: 6rem;
  text-transform: uppercase;
  color:#fff;
  }
  .portada .portadatexto p{
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding:1rem 0;
  color:#eee;
  }
  .portadatexto{
  flex:1 1 45rem;
  padding:2rem;
  }
  .portadatexto h3{
  font-size: 3rem;
  color:#fff;
  }
  .portadatexto p{
  font-size: 1.6rem;
  color:#ccc;
  padding:1rem 0;
  line-height: 1.8;
  }
  /*Banner principal*/
  .bannerprincipal{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  }
 .bannerprincipal .bannerprin{
  flex:1 1 60rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
 }
 .bannerprincipal .bannerprin img{
  height: 100%;
  width:100%;
  object-fit: cover;
 }
 .bannerprincipal .bannerprin .contentprinc{
  position: absolute;
  top:50%; left: 4%;
  transform: translateY(-50%);
 } 
 .bannerprincipal .bannerprin .contentprinc h3{
  font-size: 3rem;
  color:var(--black);
 }
 .bannerprincipal .bannerprin .contentprinc p{
   font-size: 2rem;
   color:#333;
 }
 .bannerprincipal .bannerprin:hover img{
   transform:scale(1.2) rotate(-5deg);
 }
 .category .box-container .box img{
   width: 20rem;
   margin:.5rem 0;
 }
  /*Banners pequeños*/
 .bannerspequeños{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
 }
 .bannerspequeños .banner{
  flex:1 1 20rem;
  height: 15rem;
  overflow: hidden;
  position: relative;
 }
 .bannerspequeños .banner img{
  height: 100%;
  width:100%;
  object-fit: cover;
 }
 .bannerspequeños .banner .content{
  position: absolute;
  top:50%; left: 4%;
  transform: translateY(-50%);
 } 
 .bannerspequeños .banner .content h3{
  font-size: 3rem;
  color:var(--black);
 }
 .bannerspequeños .banner .content p{
   font-size: 2rem;
   color:#333;
 }
 .bannerspequeños .banner:hover img{
   transform:scale(1.2) rotate(-5deg);
 }
 .category .box-container .box img{
   width: 20rem;
   margin:.5rem 0;
 }
  /*Productos*/

.products .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.products .box-container .box{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:1rem;
    margin:1.5rem;
    flex:1 1 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products .box-container .box img{
    width:15rem;
}

.products .box-container .box .content{
    padding:1rem;
}

.products .box-container .box .content .stars i{
    font-size: 1.5rem;
    color:var(--yellow);
}

.products .box-container .box .content h3{
    font-size: 2rem;
    color:#333;
    padding:.5rem 0;
}

.products .box-container .box .content .price{
    font-size: 2rem;
    color:#666;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
}
  /*Caja de comentarios*/
  .CAJADECOMENTARIOS{
  padding:2rem 9%;
  }
  .products .box-container .box .content{
  padding:2rem;
  text-align: center;
  }
  .products .box-container .box .content h3{
  font-size: 2.5rem;
  color:#333;
  }
  .products .box-container .box .content .price{
  font-size: 2.5rem;
  color:var(--pink);
  font-weight: bolder;
  padding-top: 1rem;
  }
  .products .box-container .box .content .price span{
  font-size: 1.5rem;
  color:#999;
  font-weight: lighter;
  text-decoration: line-through;
  }
  .CAJADECOMENTARIOS .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  }
  .CAJADECOMENTARIOS .box-container .box{
  flex:1 1 10rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border-radius: .5rem;
  padding:3rem 2rem;
  position: relative;
  border:.1rem solid rgba(0,0,0,.1);
  }
  .CAJADECOMENTARIOS .box-container .box .fa-quote-right{
  position: absolute;
  bottom:3rem; right:3rem;
  font-size: 6rem;
  color:#eee;
  }
  .CAJADECOMENTARIOS .box-container .box .stars i{
  color:var(--pink);
  font-size: 2rem;
  }
  .CAJADECOMENTARIOS .box-container .box p{
  color:#999;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 2rem;
  }
  .CAJADECOMENTARIOS .box-container .box .user{
  display: flex;
  align-items: center;
  padding-top: 2rem;
  }
  .CAJADECOMENTARIOS .box-container .box .user img{
  height:6rem;
  width:6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
  }
  .CAJADECOMENTARIOS .box-container .box .user h3{
  font-size: 2rem;
  color:#333;
  }
  .CAJADECOMENTARIOS .box-container .box .user span{
  font-size: 1.5rem;
  color:#999;
  }
  .contact .row{
  display: flex;
  flex-wrap: wrap-reverse;
  gap:1.5rem;
  align-items: center;
  }
  .contact .row form{
  flex:1 1 40rem;
  padding:2rem 2.5rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.1);
  background: #fff;
  border-radius: .5rem;
  }
  .contact .row .image{
  flex:1 1 40rem;
  }
  /*Correo (celular)*/
  .correocelular{
    background:url(../img/home/BANNER.png) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding:5rem 2rem;
  }
  .correocelular{
  margin-top: 100px;
  width: 100%;
  height: 300px;
  }
  .correo h3{
  color: black;
  }
  .correocelular .pcelular{
  color: black;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  }
  .cajacorreocelular{
  display: flex;
  flex-direction: column;
    justify-content:center;
    }
    .emailformpartcelular{
    text-align: -webkit-center;
    }
    .formemailcelular{
    padding: 12px;
    font-size: 11px;  
    }
    .formemailcelular .inputcelular{
    background-color: #FFF;
    outline: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 15px;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding: 15px 15px 15px 15px;
    
  }
  .submitcelular{
  margin-top: 13px;
  background-color: #333333;
  color: rgb(218, 218, 218);
  cursor: pointer;
  border: none;
  display: flex;
  font-size: 15px;
  display: flex;
  text-align: center;
  width: 100%;
  padding: 15px 15px 15px 15px;
  width: 90%; 
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center
  }
  /*Correo (desktop)*/
  .correodesktop{
    background:url(../img/home/BANNER.png) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding:5rem 2rem;
  }
  .correodesktop{
    flex: 60rem;
    width: 100%;
    height: 300px;
    }
  .correo h3{
    color: black;
      }
  .correodesktop .pdesktop{
    color: black;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      font-size: 40px;
      }
  .cajacorreodesktop{
    display: flex;
      flex-direction: column;
      justify-content:center;
      }
    .emailformpartdesktop{
      text-align: -webkit-center;
      }
    .formemaildesktop{
      display: flex;
      align-items:flex-start;
      padding: 30px;
      width: 500px;
      font-size: 11px;  
      flex-grow: 2;
      }
    .formemaildesktop .inputdesktop{
      background-color: #FFF;
      outline: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: inherit;
      padding: 20px;
      border: none;
      border-radius: 5px 0 0 5px;
      font-size: 20px;

      }
    .submitdesktop{
      background-color: #333333;
      color: rgb(218, 218, 218);
      border: none;
      cursor: pointer;
      padding: 20px;
      border: none;
      border-radius: 0 5px 5px 0;
      font-size: 20px;
          }
  /*Blogs*/
  .blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}
  .blogs .box-container .box{
    border:var(--border);    
}
  .blogs .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}
  .blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  .blogs .box-container .box:hover .image img{
    transform: scale(1.2);  
  }
  .blogs .box-container .box .content{
    padding:2rem;
  }
  .blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
  }
  .blogs .box-container .box .content .title:hover{
    color:var(--main-color);
  }
  .blogs .box-container .box .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
  }
  .blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
  }
  /*Banner sin nombre*/
  .fas, .far{
  font-size: 32px;
  margin-bottom: -10px;
  }
  .BANNERSINOMBRE, .Marcasdealimento, .correodesktop{
  padding:2rem 9% !important;
  }
  .BANNERSINOMBRE{
  background:#eee;
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  }
  .BANNERSINOMBRE .icons{
  background:#fff;
  border:.1rem solid rgba(0,0,0,.1);
  padding:2rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
  }
  .BANNERSINOMBRE .icons img{
  height:5rem;
  margin-right: 2rem;
  }
  .BANNERSINOMBRE .icons h3{
  color:#333;
  padding-bottom: .5rem;
  font-size: 1.5rem;
  }
  .BANNERSINOMBRE .icons span{
  color:#555;
  font-size: 1.3rem;
  }
  /*Media*/
@media(max-width:1200px){
  html{
    font-size: 55%;
  }
}
@media (max-width: 629px){
  .portada{
  background-position: left;
  justify-content: center;
  text-align: center;
  }
  .portada .portadatexto h3{
  font-size: 4.5rem;
  }
  .portada .portadatexto p{
  font-size: 1.5rem;
  }
  .portadageneralDesktop{
  display:none
  }
  .correodesktop{
  display: none;
  }
  .Marca6, .Marca7, .Marca8{
  display: none;
  }   
  .DetalledecompraDESKTOP{
  display: none;
  }
}
@media (min-width: 581px){
  .portadageneralCelular{
  display:none;
  }
  .portadageneralDesktop{
  display:flex
  }
  /*SECCIÓN DE MASCOTAS*/
  .Subportadas{
  margin: 0px 20px 0px 20px;
  margin-top: 50px;
  text-align: center;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  }
  .SubportadaGatos{
  margin-top: 0px;
  margin-left: 20px;
  /*PROMOCIONES*/
    }
  .Promociones{
  margin: 0px 20px 0px 20px;
  margin-top: 30px;
  text-align: center;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  }
  .Promocion2{
  margin-top: 0px;
  margin-left: 20px;
  }
  .Promocion3{
  margin-top: 0px;
  margin-left: 20px;
  }
}
@media (min-width: 630px){
  /*Correo(celular)*/
  .correocelular{
  display: none;
  }
}
