.main-register-login{
  margin-top:100px;
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-family: sans-serif;
}

.form-login{
  align-content: center;
  display: flex;
}

.input{
  border: none;
  border-bottom: 2px solid rgb(2, 2, 2);
  margin-bottom: 1rem;
  font-size: 20px;
  outline: none;
}
.container{
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.clearfix{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register-button{
  text-align: center;
}
.signupbtn,.cancelbtn{
  padding: 0.4rem 1.8rem;
  margin: 1rem;
}
.login-button{
  cursor: pointer;
}
.login-button,.register-button{
  border: 1px solid white;
  background-color: rgb(214, 70, 70);
  margin: 1rem;
}
.login-button,.register-button {
  padding: 13px;
  background-color: #000000;
  color: #FFFFFF;
  fill: #FFFFFF;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
  max-height: 40px;
}
.clearfix a{
  text-decoration: none;
}

/*keyframes*/

.login-button:hover,.register-button:hover {
  text-decoration: underline;
  background-color: var(--nav-color);
  border:1px solid black;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}