<%-include('partials/head', {title: "Petitos Shop" })%>
    <%-include('partials/header')%>
        <main class="shoppingcart-boxmain">
            <table class="table-shoppingcart">
                <tr>
                    <th class="shoppingcart-barra">Producto</th>
                    <th class="shoppingcart-barra">Cantidad</th>
                    <th class="shoppingcart-barra">Total</th>
                </tr>
                <tr>
                    <td class="shoppingcard-details">
                        <div class="shoppingcart-info">
                            <img class="shoppingcart-img" src="/img/cuchas/cucha 4.JPG">
                            <div>
                                <p>Cama para mascotas uwu</p>
                                <small class="shoppingcart-price">Precio: $3890.00</small>
                                <br>
                                <a class="remove" href="">Remover</a>
                            </div>
                        </div>
                    </td>
                    <td class="shoppingcard-details"><input type="number" value="1"></td>
                    <td class="shoppingcart-pricetable">$3890.00</td>
                </tr>
                <td class="shoppingcard-details">
                    <div class="shoppingcart-info">
                        <img class="shoppingcart-img" src="/img/ropa/ropa 14.JPG">
                        <div>
                            <p>Ropa para mascotas uwu</p>
                            <small>Precio: $5070.00</small>
                            <br>
                            <a class="remove" href="">Remover</a>
                        </div>
                    </div>
                </td>
                <td class="shoppingcard-details"><input type="number" value="1"></td>
                <td class="shoppingcart-pricetable">$5070.00</td>
                </tr>
                <td class="shoppingcard-details">
                    <div class="shoppingcart-info">
                        <img class="shoppingcart-img" src="/img/collares/collar 12.JPG">
                        <div>
                            <p>Pretal para mascotas uwu</p>
                            <small>Precio: $2350.00</small>
                            <br>
                            <a class="remove" href="">Remover</a>
                        </div>
                    </div>
                </td>
                <td class="shoppingcard-details"><input type="number" value="1"></td>
                <td class="shoppingcart-pricetable">$2350.00</td>
                </tr>
            </table>
            <div class="shoppingcart-total">
                <table>
                    <tr>
                        <td>Subtotal</td>
                        <td>$11310.00</td>
                    </tr>
                    <tr>
                        <td>Transporte</td>
                        <td>Free</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>$11310.00</td>
                    </tr>
                </table>
            </div>
        </main>
        <%-include('partials/footer')%>