<%- include('partials/head', {title: "Producto: " + (product?.name ? product.name : 'Not Found' ) }) %>
    <%- include('partials/header') %>
        <div>
            <div>
                <div>
                    <div>ID</div>
                    <div>Nombre</div>
                    <div>Detalles</div>
                    <div>A</div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>
            </body>

            </html>