<%- include('./partials/head', {title: "Ingresa en tu cuenta - Petitos Shop" }) %>
  <%- include('partials/header') %>
    <!----Formulario-login-->
    <main class=" main-register-login">
      <form action="" class="form-login" method="POST">
        <div class="container">
          <h1>Ingresa</h1>
          <p>Por favor complete el formulario para ingresar.</p>
          <hr>

          <label for="email"><b>Ingresa tu Email</b></label>
          <input class="input" type="text" placeholder="Ingresa tu email" name="email" id="email" required>

          <label for="psw"><b>Contrase침a</b></label>
          <input class="input" type="password" placeholder="Ingresa tu contrase침a" name="psw" id="psw" required>

          <div class="clearfix">
            <button class="login-button" type="submit" value="Iniciar sesi칩n">
              Iniciar sesi칩n
            </button>
            <a href="/users/register" class="register-button">
              Registrarme
            </a>
          </div>
        </div>
      </form>
    </main>
    <%- include('partials/footer') %>
      </body>

      </html>