<div class="crud crud-categories">
    <h3>Categoria</h3>
    <select name="category" id="category">
        <% if (EditingProduct.category==='' ) { %>
            <option selected value=""></option>
            <%} else { %>
                <option value=""></option>
                <% } %>
                    <% if (EditingProduct.category==='Perros Adultos' ) { %>
                        <option selected value="Perros Adultos">Perros Adultos</option>
                        <%} else { %>
                            <option value="Perros Adultos">Perros Adultos</option>
                            <% } %>

                                <% if (EditingProduct.category==='Perros Cachorros' ) { %>
                                    <option selected value="Perros Cachorros">Perros Cachorros
                                    </option>
                                    <%} else { %>
                                        <option value="Perros Cachorros">Perros Cachorros
                                        </option>
                                        <% } %>

                                            <% if (EditingProduct.category==='Gatos Cachorros' ) {%>
                                                <option selected value="Gatos Cachorros">Gatos
                                                    Cachorros
                                                </option>
                                                <%} else { %>
                                                    <option value="Gatos Cachorros">Gatos
                                                        Cachorros
                                                    </option>
                                                    <% } %>

                                                        <% if(EditingProduct.category==='Gatos Adultos' ) { %>
                                                            <option selected value="Gatos Adultos">
                                                                Gatos Adultos
                                                            </option>
                                                            <%} else { %>
                                                                <option value="Gatos Adultos">
                                                                    Gatos
                                                                    Adultos
                                                                </option>
                                                                <% } %>
    </select>
</div>