*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.main-crud{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.crud-contanier{
    background-color: rgba(0, 255, 255, 0.3);
    border: solid 1px #E4E9F7;
    border-radius:25px;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    width: 800px;
}
.crud-form{
    display:flex;
    padding: 0 50px; 
    flex-wrap: wrap;
}
.main-crud h1{
    width: 100%;
}
.crud{
    width:50%;
    padding: 10px 30px;
    outline: none;
}
.crud input{
    width:100%;
    outline: none;
}
.crud-sizes select,.crud-categories select{
    width:100%;
    
}
.crud-image{
    width:100%;
    padding: 10px 30px;
}
.crud-details{
    padding: 10px 30px;
    width: 100%;
}
.crud-details textarea{
    width:100%;
}
.crud-buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
.crud-buttons button{
    font-size: 15px;
    padding: 15px;
    border: 1px solid rgba(0, 255, 255,0.1);
    border-radius: 20px;
    transition: all 0.5s ease;
}
.crud-buttons button:hover{
    cursor: pointer;
    border-color: black;
    background-color: rgba(0, 122, 122,0.3);
}
