* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: block;
}
.header-top{
    position: relative;
    padding: 25px 10px;
    background-color: rgb(255, 255, 255);
    color: gray;
}
.container-headder{
    display:block;
    max-width: 1480px;  
    margin-left: auto;
    margin-right: auto;
}
.header-inter{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.header-logo{
    display:inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 35px;
}
.header-logo h1{
    margin-top: 0;
    font-size: inherit;
    font-weight: inherit;
}
.header-logo .header-logo-a{
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color:#fddeef;
    text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
    background-color: transparent;
    text-decoration: none;
}
.header-searchbar{
    order: 2;
    flex: 1 0 auto;
}
.search-bar{
    margin-top: 0;
    padding-bottom: 0;
    min-width: 0;
    /*A*/
    position: relative;
    min-width: 100%;
    z-index:1;
}
.searchbar-top{
    box-shadow: 1px 1px #fddeef inset, -1px -1px #fddeef inset;
    /*A*/
    position: relative;
    display: flex;
    height: 44px;
    align-items: center;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: gray;
    z-index: 1;
}
.searchbar-input-container{
    position: relative;
    flex: 1 0 auto;
    height: 100%;
}
.searchbar-input{
    height: 100%;
    width: 100%;
    padding: 0 15px 1px 15px;
    border: none;
    background: transparent;
    line-height: normal;
    color: rgb(47, 47, 47);
    outline: none;
}
.searchbar-submit{
    flex:none;
    width: 50px;
    height: 100%;
    color: white;
    background-color: #fddeef;
    border: #fddeef;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}
.searchbar-submit{
    text-transform: none;
}
.searchbar-submit svg{
    width: 21px;
    height: 21px;
    margin: 0 auto;
}
.header-iconlist{
    font-family: "Muli", sans-serif;
    order: 1;
    padding-left:28px;
    display:flex;
    align-items: center;
    margin-left: auto;
}
.header-account{
    padding: 0 9px;
}
/*FIN HEADER*/
/*NAV BAR*/
.nav-bar{
    display:none;
    position: relative;
    left:0;
    width: 100%;
    border-bottom: 1px solid white;
    background-color: transparent;
}
.nav-bar-container{
    max-width: 1480px;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    padding: 0 40px;
}
.nav-barlinks{
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
.nav-baritems{
    position: relative;
    display: inline-block;
    margin-right: 35px;
    padding: 17px 0;
    list-style: none;
}
.nav-baritems a{
    display: block;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}
.sub-menu-1,.sub-menu-2{
    display:none;
}
.sub-menu-1 ul li,.sub-menu-2 ul li{
    list-style: none;
    padding:5px;
}
.sub-menu-1 ul li:hover,.sub-menu-2 ul li:hover{
    background-color: #fddeef;
}   
.sub-menu-1 ul li a,.sub-menu-2 ul li a{
    text-decoration: none;
    color:black;
}
.header-account:hover .sub-menu-1,
.nav-baritems:hover .sub-menu-2{
    display:block;
    position: absolute;
    background-color: #fbc0e1;
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
}
/* RESPONSIVE */
@media (min-width: 576px){
    .header-top{
        position: relative;
        padding: 25px 100px;
        background-color: rgb(255, 255, 255);
        color: gray;
    }
}
@media (min-width: 774px){
    .nav-bar{
        display:block;
    }
    .header-searchbar{
        order: 1;
    }
    .header-iconlist{
        order: 2;
    }
}
