@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
}
@media (min-width: 480px){
    .icons{
        display:block;
    }
    /*-------------------Iconos--------------------*/

    .shopping-cart i, .user i,.shopping-cart span{
        font-size: 1.5rem;
    }
    /*-------------------------User i----------------------*/
    .user{
        text-align: center;
        align-self: flex-start;
        margin: 15px 0;
    }
    
    .user i{
        color: #000000;
        padding: 10px 0;
    }

    .user h4 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    /*--------------------------Shopping-cart i-------------------*/

    .shopping-cart{
        text-align: center;
        align-self: flex-start;
        margin: 15px 0;
    }
    .shopping-cart i{
        color: #000000;
        padding: 10px 0;
    }
    .shopping-cart h4 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

@media (min-width: 769px){
    /*----------HOME-------*/

    .selecionar-por-mascota .card{
        box-shadow: none;
    }
      /*PRODUCTOS*/
    .comprar, .ver{
        opacity: 0;
    }
    .cuerpo-tarjeta:hover .comprar, .cuerpo-tarjeta:hover .ver{
        opacity: 1;
    }
    .cuerpo-tarjeta:hover{
        box-shadow: 0 0 0.6em rgba(90, 90, 90, 0.377);
    }
    .cuerpo-tarjeta a:hover{
        background: rgb(44, 44, 44);
        transition: all 0,2s;
    }
    .selecionar-por-mascota .card{
        margin: 20px;
    }
    .burger-menu{
        display:none;
    }
    /*ICONS*/
    header div .icons{
        display: flex;
        text-align: center;
        flex-grow: 1;
        align-self: center;
        margin: 15px 0;
    }
    .row .icons{
        justify-content:space-evenly;
    }

    /*SEACHER*/
    .form-search{
        display: flex;
        align-items:flex-start;
        padding: 2px;
        font-size: 11px;
        width: 30%;
        flex-grow: 2;
    }
    .form-email{
        display: flex;
        align-items:flex-start;
        padding-top: 50px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 11px;
        width: 30%;
        flex-grow: 2;
    }
    .form-search .input{
        background-color: #FFF;
        outline: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: inherit;
        padding: 11px;
        border: none;
        border-radius: 5px 0 0 5px;
        font-size: 15px;
        width: 100%;
    }
    .form-search .submit{
        background-color: #333333;
        color: rgb(218, 218, 218);
        border: none;
        cursor: pointer;
        padding: 11px;
        border: none;
        border-radius: 0 5px 5px 0;
        font-size: 15px;
    }
    /*ButtonBar-none*/
    #menu-outer {
        height: 54px;
    }
    .table .button-links{
        display: flex
    }
    .table nav{
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-color: #333333;
    }
    
    .table a {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }
    
    .table a:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);

    } 
    /*----------HOME-------*/
}